
@charset "ISO-8859-1";
.navbae {
    padding-left:30px;
    padding-right:30px;
}
.logo{
    width: 5px;
    height: 5px;
    left:0;
    top:0;
    padding: 5px;
}

.navbar ul {
    list-style-type: none;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap; /* assumes you only want one row */
}

.nav-right{
    text-align: -moz-right;
}
.footer{
   text-decoration-color: #3b5998;
}


.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.social-list {
    list-style: none;
    padding: 0;
}

.social-list li {
    margin-bottom: 10px;
}

.social-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-size: 1.2em; /* Adjust the size as needed */
}

.social-icon {
    margin-right: 8px;
}

.social-link:hover .social-icon {
    transform: scale(1.1);
    transition: transform 0.2s;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}












