<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Registration Page</title>-->
<!--    <link rel="stylesheet" th:href="@{../static/css/Web.css}">-->
<!--</head>-->
<!--<body>-->

<!--<div class="container">-->
<!--    <h2>Registration</h2>-->

<!--    <div th:if="${message != null}" class="message">-->
<!--        [[${message}]]-->
<!--    </div>-->

<!--    <form-->

<!--            th:action="@{/registration}"-->
<!--            method="post"-->
<!--            role="form"-->
<!--            th:object="${product}"-->
<!--    >-->
<!--        <div class="input-group">-->
<!--            <label for="name">Name:</label>-->
<!--            <input th:field="*{name}" type="text" id="name" name="name" placeholder="Enter your Name" required>-->
<!--        </div>-->
<!--        <div class="input-group">-->
<!--            <label for="email">Email:</label>-->
<!--            <input th:field="*{email}" type="text" id="email" name="name" placeholder="Enter your Email" required>-->
<!--        </div>-->
<!--        <div class="input-group">-->
<!--            <label for="Message">Message:</label>-->
<!--            <input th:field="*{message}" type="text" id="message" name="message" placeholder="Enter your message" required>-->
<!--        </div>-->
<!--        <button type="submit" class="btn">Register</button>-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->